html, body {
    height: 100%;
    margin: 0;
    font-family: "Lexend Peta", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgba(181, 184, 173, 0.9);
    color: #2C2721;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.header {
    background-color: #E0E0E0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    font-size: 2rem;
    position: fixed; /* O usa position: sticky; */
    top: 0; /* Mantiene el header en la parte superior */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    height: 70%;
    width: 90%;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  }

  

#myInput {
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 12px;
  }
  table {
    font-size: 15px;
    width: 100%;
    border: none;
  }
  th{
    color: #FFFFFF;
    background-color: black;

  }
  th, td {
    padding: 8px;
    text-align: left;
    border: none;
  }
  tr:hover {
    background-color: #f1f1f1;
  }


  #form {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



 .form_login{
    height: 80%;
 }

 h1 {
    font-size: 2rem;
    color: #2C2721;
    margin-bottom: 10%; /* Espacio adicional debajo del h1 */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 1.3rem;
    color: #2C2721;
    margin-left: 20px; /* Espacio entre el input y el label */
}

.input-style {
    font-size: 1.3rem;
    color:#2C2721;
    background-color: rgba(250, 250, 250, 0.35);
    border: 2px solid #2C2721;
    border-radius: 5px;
    padding: 10px;
    width: 70%; /* Ajuste de ancho para acomodar el label a la derecha */
    box-sizing: border-box;
}

input[type="submit"] {
    font-size: 1.5rem;
    background-color: rgba(250, 250, 250, 0.35);
    border: 2px solid #66513C;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #66513C;
    color: #FFFFFF;
}

.select-style {
  font-size: 1.3rem;
  color: #2C2721;
  background-color: rgba(250, 250, 250, 0.35);
  border: 2px solid #2C2721;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
  cursor: pointer; 
  margin-bottom: 5%;
}

.select-style:focus {
  border-color: #66513C; /* Cambia el color del borde cuando está enfocado */
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Sombra azul cuando está enfocado */
}